html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(/assets/material-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(/assets/material-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
}

.controls-container {
    display: flex;
    justify-content: center;
}

#sentence-container {
    margin: 2%;
}

.sentence-structure {
    display: flex;
    flex-direction: column;
}

.subject {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1%;
    padding: 1%;
}

.predicate {
    justify-content: center;
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1%;
    padding: 1%;
}

.part-of-speech-container {
    display: flex;
    justify-content: center;
}

.part-of-sentence-description {
    text-align: center;
}

.word-part-of-speech {
    color: green;
    border-bottom: solid black 1px;
    text-align: center;
}

/*.predicate .part-of-speech-container .word {*/
.part-of-speech-container .word {
    display: flex;
    flex-direction: column;
    border: solid black 1px;
    margin: 1%;
    padding: 5%;
}

.predicate .word-text {
    /* flex-grow: 1; */
    flex-basis: fit-content;
}
